{% extends 'layout.html' %}

{% block content %}

  <div class="timeline">
    <h2>경매 진행 목록</h2>
    <table id="good-list">
      <tr>
        <th>상품명</th>
        <th>이미지</th>
        <th>시작 가격</th>
        <th>종료 시간</th>
        <th>입장</th>
      </tr>
      {% for good in goods %}
        <tr>
          <td>{{good.name}}</td>
          <td>
            <img src="/img/{{good.img}}">
          </td>
          <td>{{good.price}}</td>
          <td class="time" data-start="{{good.createdAt}}">00:00:00</td>
          <td>
            <a href="/good/{{good.id}}" class="enter btn">입장</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="timeline">
    <h2>
      <td>
      <a href="/endlist" class="btn">경매 완료 목록</a>
      </td>
    </h2>
  </div>

  <script src="https://unpkg.com/event-source-polyfill/src/eventsource.min.js"></script>
  <script>
    const es = new EventSource('/sse');
    es.onmessage = function (e) {
      document.querySelectorAll('.time').forEach((td) => {
        const end = new Date(td.dataset.start); // 경매 시작 시간
        const server = new Date(parseInt(e.data, 10));

        // end의 시간을 받았을 때 21시 이전이면 경매 종료 시간을 +3시간 해준다.
        if(end.getHours < 21){
          end.setHours(end.getHours+3);
        }
        // end의 시간을 받았을 때 21시 이후이면 경매 종료 시간을 end의 일 수를 1일 늘려주고 시간을 조정한다.
        else{
          end.setDate(end.getDate()+1);
          if(end.getHours==21)
            end.setHours(0);
          if(end.getHours==22)
            end.setHours(1);
          if(end.getHours==23)
            end.setHours(2);
        }

        if (server >= end) { // 경매가 종료되었으면
          return td.textContent = '00:00:00';
        } else {
          const t = end - server; // 경매 종료까지 남은 시간
          const seconds = ('0' + Math.floor((t / 1000) % 60)).slice(-2);
          const minutes = ('0' + Math.floor((t / 1000 / 60) % 60)).slice(-2);
          const hours = ('0' + Math.floor((t / (1000 * 60 * 60)) % 24)).slice(-2);
         
          if(hours -21 <0)
            return td.textContent = '00:00:00';
          else
            return td.textContent = hours-21 + ':' + minutes + ':' + seconds ;
            
        }
      });
    };
  </script>



{% endblock %}
