/*이준성 추가 css 시작*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  font-size:1.6rem;
  height: 100%;
  background-color: white;
  font-family: "Lato",sans-serif;
  font-weight: 400; }

  
.title{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #C9EDC1;
}

.heading-first {
  color: black;
  font-size: 6rem; }

.underline {
  border-color: black; }

a {
  color:black;
  text-decoration: none; }
/*이준성 추가 css 종료*/

.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: crimson;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
input, textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 100%; height: 100%; }
@media screen and (min-width: 800px) {
  .container { width: 800px; margin: 0 auto; }
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  background: greenyellow;
}
.user-name, .user-money {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.timeline {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
@media screen and (min-width: 800px) { .timeline { width: 500px; } }
#good-list, #good-list th, #good-list td {
  border: 1px solid black;
  border-collapse: collapse;
}
#good-list img { max-height: 100px; vertical-align: top; }
#good-img { width: 280px; display: block; }
.error-message { color: red; font-weight: bold; }
#join-form, #good-form { padding: 10px; text-align: center; }
footer { text-align: center; }